{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Mettre à jour le statut de l'équipement</h2>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Mettre à jour le statut</button>
    </form>

    <form method="POST" action="{% url 'update_equipment_status' equipment.id %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="libre">
        <button type="submit" class="btn btn-secondary mt-3">Remettre en libre</button>
    </form>

  </div>
{% endblock %}
